.view {
  padding-bottom: 40px + @footer-height;
  min-height: ~"calc(100vh - 1px - "@navbar-height~")";
}

.navbar-brand {
  padding-top: @navbar-logo-vertical-padding;
  padding-bottom: @navbar-logo-vertical-padding;
  .navbar-logo {
    height: @navbar-height - 2 * @navbar-logo-vertical-padding;
  }
}

.hero {
  margin-top: -20px;
  max-height: 75vh;
  height: 600px;
  width: 100%;
  min-height: 400px;
  background: #95004F url(../images/cover.png) no-repeat center center;
  background-size: cover;
  font-weight: bold;
  color: #fff;
  .container, .row {
    height: 100%;
  }
}

.center-content {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  height: 100%;
}

.person {
  text-align: center;
  .person-picture {
    padding: 20px;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      max-height: 300px;
      max-width: 300px;
    }
  }
}

.contact-map {
  margin-top: 50px;
  height: 450px;
  max-height: 50vh;
  min-height: 300px;
}

