// Typography
@font-family-base: 'Lato', sans-serif;
@text-color: #000;
@link-color: #95004F;
@font-size-base: 16px;
@brand-primary: #95004F;

// Navbar
@navbar-height: 100px;
@navbar-default-bg: #fff;
@navbar-default-border: #ebebeb;
@navbar-logo-vertical-padding: 10px;
@navbar-default-link-color: #000;
@navbar-default-link-hover-color: #95004F;

// Footer
@footer-height: 100px;
@footer-border: #ebebeb;
@footer-link-color: #000;
@footer-link-hover-color: #95004F;

// Buttons
@btn-primary-bg: #95004F;
@btn-primary-border: transparent;
@btn-primary-color: #fff;
@btn-default-bg: #000;
@btn-default-border: transparent;
@btn-default-color: #fff;

// Card
@card-border-radius: 10px;

// Form
@input-border-focus: #95004F;
